<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div align="center">
    <h2>List all Users</h2>
    <h3><a href="/user/new">New User</a></h3>
    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>e-mail</th>
        </tr>
        <tr th:each="user : ${list}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.email}"></td>
            <td><a th:href="@{/user/edit/{id}(id=${user.id})}">Edit</a></td>
            <td><a th:href="@{/user/delete/{id}(id=${user.id})}">Delete</a></td>
        </tr>
    </table>
</div>
</body>
</html>